.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.font-raleway{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* Shared Styles */
.btn-primary{
    font-weight: bold;
    color: #FFFFFF;
    background-color: #4E47FF;
    padding: 12px 36px;
    border: none;
    border-radius: 8px;
}
.text-primary{
    color: #4E47FF;
}
.text-center{
    text-align: center;
}
.secondary-bg{
    background-color: #f5f8ff;
}
/* Header Styles */
.header{
    background-image: url('../Assets/Hero-bg.png');
    height: 698px;
    width: 100%;
}
/* Nav Styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
}
.nav-title{
    font-size: 34px;
    font-weight: 800;
}
/* Banner Styles */
.banner-title{
    margin-top: 130px;
    font-size: 65px;
    font-weight: bold;
}
/* Main Styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 100px;
    margin-bottom: 100px;
}
/* Action Styles */
.action{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.action-title{
    font-size: 35px;
    font-weight: bold;
}
.action-description{
    font-size: 18px;
    margin-top: -20px;
    color: rgba(37, 36, 50, 0.5);
}
.action-img{
    width: 400px;
    border-radius: 48px;
}
/* Stats Styles */
.stats{
    border-radius: 24px;
    background-color: rgba(78, 71, 255, 0.1);
    padding: 50px 80px;
}
.stats-container{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.stats-section-title{
    font-size: 38px;
    font-weight: bold;
}
.stat-number{
    color: #4E47FF;
    font-size: 65px;
    font-weight: 800;
}
.stat-description{
    margin-top: -50px;
    color: rgba(0, 0, 0, 0.5);
}
/* Review Styles */
.review-container{
    display: flex;
    gap: 20px;
    justify-content: space-around;
}
.review-section-title{
    font-size: 42px;
    font-weight: bold;
}
.review-title{
    font-size: 22px;
    font-weight: 600;
}
.review-author{
    display: flex;
    align-items: center;
    gap: 15px;
}
.review-author img{
    border-radius: 50%;
}
.review-date{
    color: rgba(37, 36, 50, 0.5);
}
.review-box{
    background-color: #FFFFFF;
    border-radius: 14px;
    padding: 24px;
}